        <header>
            <h1>ALPHA BLOG</h1>
            <h4>The very best of all demo sites...</h4>
            <%= link_to "Sign up now", "#", class: "btn btn-primary btn-xlarge" %>
        </header>