$navbar-default-bg: #43C59E; 


@import "bootstrap-sprockets";
@import "bootstrap";




body {
    padding-top: 0;
    margin-top: 0;
    position: relative;
    min-height: 100vh;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h5, h6 {
    margin: 0;
    color: #43C59E;
    font-family: 'Montserrat', sans-serif;
}

a {
    transition: all .3s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: #ddd;
}

.contentbody {
    padding: 4em 0 4em 0;
    max-width: 800px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

h2 {
    font-size: 3em;
    margin: 2em auto 1em auto;
}



/* NAVBAR */
#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}


/* FEATURE */
#featured {
    background: orange;
    position: fixed;
    padding: 1em 1em 1em .5em;
    bottom: 0;
    left: 0;
    z-index: 999;
}

#featured>a {
    text-decoration: none;
    color: #eee;
    text-transform: uppercase;
    font-size: 1.8em; 
}

/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://static.pexels.com/photos/541518/pexels-photo-541518.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

header>h1{
    margin-top: 2em;
    margin-bottom: 10px;
}

.btn-xlarge {
    margin-top: 20px;
    font-size: 2.2em;
    padding: 15px;
    background-color: orange;
    border-radius: 10px;
    border: none;
    transition: all .3s ease-in-out;
}

.btn-xlarge:hover {
    background-color: crimson;
    color: #fff;
}

#list_header {
    background-image: asset-url('typing2.jpg');
    background-size: cover;
    height: 550px;
    text-align: center;
}

#list_header > h2 {
    font-size: 3em;
    padding-top: 150px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

h1 {
    margin: 1em auto;
    font-size: 7em;
    color: #43C59E;
}

/* ARTICLES */
#article-list {
    margin: 0 auto 3em auto;
}

.article-title {
    font-weight: bold; 
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description {
    margin-top: 0;
}

p {
    font-size: 1.1em;
    letter-spacing: 1.1px;
    line-height: 1.35em;
}


/* FOOTER */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}